@import "../../../../styles/colors.scss";

.switch {
  width: 60px;
  height: 34px;
  background-color: $gray-200;
  border-radius: 17px;
  position: relative;
  cursor: pointer;

  &.dark {
    background-color: $gray-500;
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 14px;
  transition: transform 0.2s;
  svg {
    width: 15px;
    height: 15px;
  }
}

.thumb.dark {
  transform: translateX(26px);
}

// body.dark-mode {
//   background-color: $gray-550;
//   color: $white;
// }
