@font-face {
    font-family: 'Borgen';
    src: url('../assets/fonts/Borgen.otf') format('opentype'),
    url('../assets/fonts/Borgen.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Borgen-Bold';
    src: url('../assets/fonts/BorgenBold.otf') format('opentype'),
    url('../assets/fonts/BorgenBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Heavy';
    src: url('../assets/fonts/Heavy\ DEMO.ttf') format('opentype'),
    url('../assets/fonts/Heavy\ DEMO.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Joystix';
    src: url('../assets/fonts/joystix\ monospace.otf') format('opentype'),
    url('../assets/fonts/joystix\ monospace.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}