
@import './colors.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    background-color: $gray-100;
  }

ul {
    list-style: none;
}

span.detailTitle {
  color: $gray-400;
}

h1 {
  font-family: 'Borgen-Bold';
  text-transform: uppercase;
  font-size: 6rem;
}